
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}

html,body{
    height:100%;
}

.container{
    background-color:cadetblue;
    width:80%;
    height:80%
    margin:auto;
}